:host{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 95vh;
        background-color: #e5e7eb;
        border-radius: 25px;

      }
